.list_container {
    min-width: 90%; 
    margin: auto 0;
    min-height: 478px;
    padding: 1rem 2rem;
    line-height: 1.7rem;
    background-color: rgba(15, 33, 63, 0.8);
    border-radius: 0.6rem;
    text-align: left;
}